<h1>Your cart</h1>

<% if @cart.empty? %>
  <p>Your cart is currently empty</p>
<% else %>
  <%= link_to 'Empty your cart', cart_clear_path %>
<% end %>
<br><br><br><br>

<% total = 0 %>

<ul>
<%  @cart.each do | id, quantity | %>
  <% product = Product.find_by_id(id) %>

  <li>
    <%= link_to product.title, product %>
    <p><%= product.description %></p>
    <p><%= number_to_currency(product.price, :unit => '$') %></p>
    <p>Quantity: <%= quantity %></p>
  </li>
  <% total += quantity * product.price  %>
<% end %>

<br><br><br>
<p>Total: </p>
<p><b><%= number_to_currency(total, :unit => '$') %></b></p>

</ul>
